<%- include("header"); -%>

  <h2>About Todo List App</h2>
  <p>This is a app that allows you to create a checklist of tasks, errands, etc
    and keep track of the tasks that have been completed with a simple click or touch.</p>

<%- include("footer"); -%>
